h5 {
    margin-bottom: 0 !important;
}

/** {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 991px;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks-item {
    width: 100%;
    border: 1px double darkblue;
}*/
